<div class="container"  >




      <div class="bhead" >
        <a href="/" ><h1 >b u t t e r h u b <span style="color: #ff0099;" class="animated bounceInDown" style="animation-delay:.1s; -moz-animation-delay:.1s; -webkit-animation-delay:.1s;">b a k e r y</span></h1></a>
        <p class="lead intro animated fadeInDown" style="margin-bottom: 0; animation-delay:2s; -moz-animation-delay:2s; -webkit-animation-delay:2s;" >a brief history of the amazingness that is <a style="font-weight:bold" href="/">butterhub</a> bakery</p>
		<p class="animated fadeInDown"  style="color: #9e9b95; padding-top: 0; animation-delay:3s; -moz-animation-delay:3s; -webkit-animation-delay:3s;" >Go back to <a href="/" style="font-weight:bold" >James's foodblog</a></p>
      </div>
	  
	  
	  
	  
  
<div class="animated fadeInUpBig" style="animation-delay:.6s; -moz-animation-delay:.6s; -webkit-animation-delay:.6s;">
	

	  
<div class="sectioner"><h3 id="pre_one">
Big. Fresh. Cookies.</h3><p class="lead" id="post_one">
Bake enormous cookies and deliver them fresh to Emory University students late at night. </p>
</div>

<div class="col-xs-12 visible-xs visible-sm row sectioner">
<img src="img/bigfuckingcookie.jpg" class="img-responsive" />
</div>

<div class="row sectioner hidden-xs hidden-sm" id="post_two">
<div class="col-sm-3">
<img src="img/preorders.jpg" class="img-responsive" />
</div>

<div class="col-sm-3">
<img src="img/AllSix.jpg" class="img-responsive" />
</div>
<div class="col-sm-3">
<img src="img/Stickers.jpg" class="img-responsive" />
</div>
<div class="col-sm-3">
<img src="img/Scholars.jpg" class="img-responsive" />
</div>
</div>

<div class="row sectioner hidden-xs hidden-sm" id="post_five">
<div class="col-sm-3">
<img src="img/Prototypes.jpg" class="img-responsive" />
</div>
<div class="col-sm-3">
<img src="img/BH.jpg" class="img-responsive" />
</div>
<div class="col-sm-3">
<img src="img/Catering.jpg" class="img-responsive" />
</div>
<div class="col-sm-3">
<img src="img/OnIce.jpg" class="img-responsive" />
</div>
</div>	

<div class="sectioner" ><h3 id="pre_three">
The business</h3><p class="lead" id="post_three">
James assembled his founding team of fellow chefs, legal ninjas, and number-crunchers to launch Butterhub Bakery early 2014. 
</p></div>



<div class="sectioner"  ><h3 id="pre_four">
The wow</h3><p class="lead" id="post_four">
Butterhub Bakery delivered over 2000 orders of freshly baked cookies to Emory University students while operational. 
 </p></div>
 
 




<div class="sectioner"><h3 id="pre_six">
The publicity</h3><p class="lead" id="post_six">
Team Butterhub joined the ranks of Atlanta’s entrepreneurs, 
placing as finalist in the Siperstein and featured in 
<a target="_blank" href="http://www.hercampus.com/school/emory/james-ding-creator-butterhub-bakery">Her Campus Magazine</a>, 
<a target="_blank" href="http://www.emorywheel.com/">Emory Wheel</a> newspaper, 
<a target="_blank" href="http://www.eevm.org/">Emory Entrepreneurship & Venture Management</a>’s <a target="_blank" href="http://www.eevm.org/portfolio/startupcrunch">Startup Crunch</a>, 
<a target="_blank" href="http://hackwithcoke.com/">Hackathons</a>, 
<a target="_blank" href="http://www.emory.edu/HOUSING/ABOUTUS/rha.html">Residence Hall Advising</a>, 
<a target="_blank" href="http://www.mathcs.emory.edu/faculty-member.php?name=Cengiz-Gunay">Dr. Cengiz</a>’s Engineering Practicum, 
and the 
<a target="_blank" href="http://college.emory.edu/home/academic/scholar/">Emory Scholars Program</a>.
</p></div>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/bigfcookie.jpg" >
      <div class="caption">
        <h3>BFC</h3>
        <p>
		The Classic. Choco Chip. It has many names and shapes, but remains the most famous cookie of them all. Ours is crisp on the edges and chewy on the inside. It’s also huge. We call it the Big F-------- Cookie.
		</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/bigcho.jpg" >
      <div class="caption">
        <h3>Big Chocolate</h3>
        <p>
		Chocolate. c.1600, from Nahuatl (Aztecan) xocolatl, possibly from xocolia "to make bitter" + atl "water." We’re ok with all that--we just made a bigger version. Chocolate cookie with chocolate chips.
		</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/snickerdaddy.jpg" >
      <div class="caption">
        <h3>Snickerdaddy</h3>
        <p>
		Hush, little snickerdoodle, don't say a word,
Daddy’s gonna buy you a mockingbird
<br><br>
And if that mockingbird won't sing,
Daddy’s gonna buy you a diamond ring
		</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/sugarmama.jpg" >
      <div class="caption">
        <h3>Sugarmama</h3>
        <p>
		Yo mama so big, she had a butterhub cookie named after her. 
		</p>
      </div>
    </div>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/raisinoatmeal.jpg" >
      <div class="caption">
        <h3>Raisin Oatmeal</h3>
        <p>
		What if a cookie dreamed of becoming something other than what society had intended? What if a cookie aspired to something greater? Tthis cookie transcends its oatmeal raisin brethren to become something more.
		</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/nutterhubber.jpg" >
      <div class="caption">
        <h3>Nutterhub</h3>
        <p>
		Nut cookies are oddballs; no one agrees on the best way to make them so we see all sorts of crazy--flourless, eggless, butterless (god forbid), or crunchy ones. After weeks of tests and force-feeding our roommates the prototypes, we’ve created a soft, sophisticated peanut cookie. 
		</p>
      </div>
    </div>
  </div>


</div>

	
	<div class="footerButton">
		<div style="font-size: 8px; padding-top: 5vh;" >
			<p>Copyright © 2015 <a href="http://www.jamesding.me" target="_blank">James Ding</a></p>
			<p>All rights reserved.</p>
		</div>
	</div>
</div> <!--below header -->

</div><!--container -->