<div class="container"  >




      <div class="bhead" >
        <a href="/" ><h1 class="animated bounceInDown" style="animation-delay:.1s; -moz-animation-delay:.1s; -webkit-animation-delay:.1s;">b u t t e r h u b</h1></a>
        <p class="lead intro animated fadeInDown" style="margin-bottom: 0; animation-delay:2s; -moz-animation-delay:2s; -webkit-animation-delay:2s;" >foodblog & culinary portfolio of <a href="/bakery" >bakery</a> owner and food enthusiast <a target="_blank" href="http://www.jamesding.me" style="font-weight:bold">james ding</a></p>
		<p class="animated fadeInDown"  style="color: #9e9b95; padding-top: 0; animation-delay:3s; -moz-animation-delay:3s; -webkit-animation-delay:3s;" >Or check out the <a href="http://www.butterhub.jamesding.org" style="font-weight:bold" >old butterhub site</a></p>
      </div>
	  
	<div ng-mouseleave="hideName('image_name')">

		<div ng-repeat="photo in photos" class="animated bounceInUp" style="animation-delay:.6s; -moz-animation-delay:.6s; -webkit-animation-delay:.6s;">
			<div style="display:inline-block; float:left;" class="col-md-4 col-sm-6 col-xs-12" ng-click="enlarge(photo._id)" id="{{photo._id}}" >
				<div class="ratio" style="background-image:url('{{photo.path}}');" ng-mouseenter="showName(photo.name, 'image_name')" id="ratio_{{photo._id}}" />

			</div> 
			<br>
		</div>
	</div>
</div>
	

</div>


<div id="ajaxButton" ng-click="ajaxUpdate()" class="footerButton" >
	+ more steak & cakes!
	
<div style="font-size: 8px; padding-top: 5vh;" >
<p>Copyright © 2015 James Ding</p>
<p>All rights reserved.</p>
</div>
</div>

<div id="myMessage" class="footerButton" style="display:none;">
	& more to come! 

	<div style="font-size: 8px; padding-top: 5vh;" >
<p>Copyright © 2015 James Ding</p>
<p>All rights reserved.</p>
</div>

	</div>
	
<div ng-click="hideName('image_name')" ng-show="hidden === false" data-ng-animate="'fade'" id="image_name" >
{{footer_text}}
</div>

